* {
    margin: 0;
    padding: 0;
    font-family: "GilRoy";
    box-sizing: border-box;
    
}

html,body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 229, 49);
}

#pannel {  
    width: 90%;
    height: 80%;
    background-color: azure;
    border-radius: 10px;
    overflow: hidden;
}

#pannelTop {
    padding: 0px 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    background-color: rgb(11, 218, 149);
}

.box { 
    font-size: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 500;
}

.box h4 {
    color: aliceblue;
}

.unbox {
    font-weight: 700;
    padding: 10px 20px;
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.537);
    padding: 10px;
    border-radius: 5px;
}

#pbottom {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
    border: 2px solid black;
    
}

.bubble {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover {
    cursor: pointer;
    color: aqua;
    background-color: rgb(0, 0, 0);
}